<section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Simplification</h1>
                </div>
            </div>
        </div>
		<div class=content>
		
		
		
		<div ip="info-block">
		<p class="info">Simplification is when the numerator and the denominator can be divided by the same number to get a simpler equivalent fraction. 
		This process is repeated until the fraction is put into simplest and lowest terms. 
		</p>
		<p class="info">An example is 8/16. The numerator and denominator can both be divided by 2, to get 4/8. This can again be divided by 2, to get 2/4. 
		This can again be divided by 2, to get 1/2. Another example would be 9/12, we first look at it and notice that both can be divided by 3. So the 
		first time it is reduced it will be 3/4 because 9 divided by 3 is 3 and 12 divided by 3 is 4. Now it can no longer be reduced, so this is our answer.</p>
		</div>
		<a class="btn btn-default" href="#" role="button">Back</a>
		<button class="btn btn-default" type="submit">Forward</button>
		
		
		</div>
    </section>