 <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>LCD</h1>
                </div>
            </div>
        </div>
		<div class=content>
		
		
		
		<div ip="info-block">
		<p class="info">The lowest common denominator (LCD) is when fractions with different denominators are either simplified or multiplied to get both denominators to be equal. 
		If one or both the fractions can’t be simplified to get the LCD, then they need to be multiplied. 
		If the denominators do not have any common factors, then the two denominators need to be multiplied together. 
		If the denominators have common factors, then divide the denominators by the common factors, and then multiply the answers together. 
		However, keep in mind that whatever the denominator is multiplied by, the numerator also needs to be multiplied by. </p>
						
		<p class="info">An example of finding the LCD is by using 2/5 and 3/4. 
		Since the denominators do not have any common factors, it is determined that to get the LCD, the two denominators need to be multiplied together. 
		In this example, 5 multiplied by 4 equals 20, notice 20 can be divided by 4 and 5. 
		The numerators then have to be multiplied by the same number as the corresponding denominators. 
		In this example, 2 is multiplied by 4 to get 8 and 3 is multiplied by 5 to get 15. 
		The fractions now equal 8/20 and 15/20.</p>
		</div>
		<a class="btn btn-default" href="#" role="button">Back</a>
		<button class="btn btn-default" type="submit">Forward</button>
		
		
		</div>
    </section>